{{!-- name - полное имя страны
capital - столица
population - население
flag - ссылка на изображение флага
languages - массив языков --}}

<div class="country-card">
    <div class="country-header">
        <img 
        class="country-header__img" 
        src="{{flag}}" 
        alt="{{name}}"
        >
        <span class="country-header__title">{{name}}</span>
    </div>
    <p class="country-descr">
        <span class="country-descr__bold">
            Capital: 
        </span>
        {{capital}}
    </p>
    <p class="country-descr">
        <span class="country-descr__bold">
            Population: 
        </span>
        {{population}}
    </p>
    <p class="country-descr">
        <span class="country-descr__bold">
            Languages: 
            </span>
            {{!-- {{#if languages.length === 1}}
            {{this.name}}
            {{#else}}
            {{#each languages}}
            {{this.name}},
            {{/each}}
            {{/if}} --}}
 
            {{#each languages}}
            {{this.name}}
            {{/each}}
    </p>
</div>